body {
  width: 200px;
  height: 100px;
  background: linear-gradient(90deg,rgba(33, 181, 94, 1) 0%, rgba(29, 149, 196, 1) 100%);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  /* font-family: "Segoe UI", Roboto, Arial, sans-serif; */
  font-family: 'Georgia', 'Times New Roman', Times, serif;
}

.popup-container {
  text-align: center;
  width: 180px;
  margin: 10px 0 0 0;
}

.status-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.emoji {
  font-size: 32px;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

.status-text {
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}
